

<div class="container">  
    <div class="panel panel-default">

      <div class="panel-heading"> 
        <h3>
	  Vendor registration
	</h3>
      </div>
      <div class="panel-body">  	
        <h5>
            If you are a connected device vendor, or if you provide a service that uses connected devices, you may wish to register your device/service. To do this, you must first register as a 'Vendor'. If approved, you can then register details of yoru device / service to this registry.
         </h5>
       
         <h4>
            <span class="btn-group-xs" role="group" aria-label="...">
              To register as a vendor, press <a class="btn btn-success" href="<%= vendors_request_registration_1_path %>">Register</a>
            </span> 
         </h4>
      </div> <!-- panel-body -->

    </div> <!-- panel --> 

</div> <!-- container -->
