<% # System.uc_view_log("2.RequestVendorRegistration", current_user, controller_path, action_name, "") %>

<div class="container">

   <span class="btn-groups" role="group" aria-label="...">


      <% length = @vendors_for_review.length %>
      <% if length == 0 %>
       <% button_class = "btn-success" %>
      <% else %>
        <% button_class = "btn-primary" %>
      <% end %>
      <a class="btn <%= button_class %>" href="<%= vendors_for_approval_path(return_to: @return_to ||= root_path) %>"
         style="margin-bottom:5px;"
         title="Press to approve outstanding vendor requests"> 
         Vendor Requests for Approval <span class="badge"><%=length%></span>
      </a>
  
      <% length = @devices_for_review.length %>
      <% if length == 0 %>
        <% button_class = "btn-success" %>
      <% else %>
        <% button_class = "btn-primary" %>
      <% end %>
      <a class="btn <%= button_class %>" href="<%= vendors_devices_for_approval_path(return_to: @return_to ||= root_path) %>"
         style="margin-bottom:5px;"
         title="Press to approve outstanding vendor's Device submissions"> 
         Devices for Approval <span class="badge"><%=length%></span>
      </a>
  

      <% length = @ct_refs_for_review.length %>
      <% if length == 0 %>
         <% button_class = "btn-success" %>
      <% else %>
         <% button_class = "btn-primary" %>
      <% end %>
      <a class="btn <%= button_class %>" href="<%= vendors_devices_for_approval_path(return_to: @return_to ||= root_path) %>"
         style="margin-bottom:5px;"
         title="Press to approve outstanding vendor's Clinical Trial Reference submissions"> 
         Clinical Trial References for Review <span class="badge"><%=length%></span>
      </a>

      <% length = @client_refs_for_review.length %>
      <% if length == 0 %>
         <% button_class = "btn-success" %>
      <% else %>
         <% button_class = "btn-primary" %>
      <% end %>
      <a class="btn <%= button_class %>" href="<%= vendors_devices_for_approval_path(return_to: @return_to ||= root_path) %>"
         style="margin-bottom:5px;"
         title="Press to approve outstanding vendor's Client Reference submissions"> 
         Client References for Review <span class="badge"><%=length%></span>
      </a>
  
   </span>  
</div> <%### div class="container"%>

<br>
<%= render :partial => "devices/index_public" %>
