<% System.uc_view_log("2.RequestVendorRegistration", current_user, controller_path, action_name, "") %>


<% if @vendor.state == "SubmittedForReview" %>
  <div class="container">
    <%= render :partial => "vendors/waiting_for_approval" %>
  </div>
<% else %>

  <div class="container">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      You are the registered representative for <b><%= @vendor.name %></b>.
      <a class="btn btn-success" href="<%= vendor_my_view_path(@vendor) %>">Manage my Devices</a>      
    </div>
  </div>


<% end %>
  


  <%= render :partial => "devices/index_public" %>
  
