<div class="thumbnail">
  <a href="<%=device.vendor.website%>" target="_blank">
    <img src="<%=device.vendor.logo_path%>"
	 style="float:right; width:100px; margin:5px;" alt="">
  </a>

  <div class="captionzz">
    
    <h3><%=device.name%></h3>
    <%= link_to device.vendor.name, "http://" + device.vendor.website, :target => "_blank"  %>
    
    <p><%=device.summary%></p>

    <div>
      <a href="<%=device.website%>" target="_blank">
	<img class="media-object" style="float:left; height:100px; margin-right:10px;"
	     src="<%=device.image_path%>" alt="...">
      </a>


    </div>
    <p> Category: <%=device.category%></p>
    <p><a href="<%= device_my_show_path(device)  %>" class="btn btn-primary" role="button">Find out more</a>
      <br><br><br>
  </div>
</div>

