<% # Available: @form_path, @vendor, @return_to, @category_dropdown %>

<% device = Device.find(local_assigns[:id]) %>
<% if device.is_this_mine?(current_user) %>

  <%= simple_form_for(device, :url => @form_path, :html => {:return_to => @return_to || ""}) do |f| %>
     <%= f.error_notification %>
     <% if device.errors.any? %>
     <ul>
        <% device.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
        <% end %>
     </ul>
     <% end %>

    <div class="form-inputs">
    <!-- form helpers: http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-url_field --> 

      <%= hidden_field_tag :device_id, local_assigns[:id] %>    
      <%= hidden_field_tag :function, "device_edit" %>
      <%= hidden_field_tag :return_to, @return_to || "" %>



      <%= hidden_field_tag :return_to, @return_to || "" %>
   
      <div class="form-group">
        <%= f.label :name %>
        <%= "What is the name of the Device/Service?"  %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "Please summarize the device in one line." %>
        <%= ""  %>
        <%= f.text_field :summary, :autofocus => false, class: 'form-control ' %>
      </div>      

      <div class="form-group">
        <%= f.label "You can provide more detail here." %>
        <%= ""  %>
        <%= f.text_area :description, :autofocus => false, class: 'form-control ' %>
      </div>

      <div class="form-group">
        <%= f.label "Is there a web-site for this Device/Service?" %>
        <%= "This should be a specific website, not a general company website."  %>
        <%= f.text_field :website, :autofocus => false, class: 'form-control ' %>
      </div>   

      <div class="form-group">
        <%= f.label :category %>
        <%= "What is the best category for this Device/Service? If there is no match, please select 'No Match'"  %>
        <%= f.select :category, @category_dropdown, :autofocus => false, class: 'form-control'  %>     
      </div>   
   
      <div class="form-group">
        <%= f.label "Who would like to be contacted about this Device/Service?." %>
        <%= "This could be you, a CEO, or a marketing representative, etc.."  %>
        <%= f.text_field :contact_name, :autofocus => false, class: 'form-control ' %>
      </div>

      <div class="form-group">
        <%= f.label "And his/her email address?" %>
        <%= ""  %>
        <%= f.text_field :contact_email, :autofocus => false, class: 'form-control ' %>
      </div>

      <div class="form-group">
	<%= f.label "Please provide a link to an image for this device?" %>
	<%= ""  %>
	<%= f.text_field :image_path, :autofocus => false, class: 'form-control ' %>
      </div>
   
      <div class="form-group">
        <%= f.label "Do you want to add any notes?" %>
        <%= "These are notes to yourself and/or the evaluator of your submission. They will not appear to other users of this registry."  %>
        <%= f.text_area :comment, :autofocus => false, class: 'form-control ' %>
      </div>   
   </div> <!-- form inputs -->

    <div class="form-actions">
      <span class="btn-group-sm" role="group" aria-label="...">
        <%= f.button :submit, class: 'btn btn-info', :value => "Update" %>
      </span>
    </div>
  <% end %>
<% end %>
