<script>

<% ######################################################################## %>
<% ### Document ready bindings, etc.                                    ### %>
<% ######################################################################## %>

  $(document).ready(function()
  {

  });

     
<% ######################################################################## %>
<% ### Setup javascript                                                  ### %>
<% ######################################################################## %>



<% ######################################################################## %>
<% ### Operational javascript functions                                 ### %>
<% ######################################################################## %>

var searchSelectChanged = function() 
{
   selected = $("#Category option:selected").text();

   if (selected == "")
   {
      window.location.href = "/"
   }
      else
   {
      window.location.href = "/?category=" + selected;
   }
};


</script>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Connected Devices & Services</h3>
  </div>
  <div class="panel-body">  
    <table style="width:100%">
      <tr>
	<td  wwstyle="width:23%">
	  <div style="color:blue; float:right; margin:10px">
	    <%= paginate @devices, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-sm" %>
	  </div
	</td>
	<td >
	  <span>
	    <div style="width: 76%; margin-left:auto; margin-right:auto;">
	      <%= form_tag request.path, :method => 'get' do %>
	  Search: 
              <%= submit_tag(value = "Vendors", options = {:class => "btn btn-sm  btn-primary"})%>
	      <%= submit_tag(value = "Devices", options = {:class => "btn btn-sm  btn-primary"})%>
	      <%= text_field_tag :search, params[:search], :value => @search, :size => 8 %>		 	      
	      <%= submit_tag(value = "Clear", options = {:class => "btn btn-sm btn-primary"})%>
	    <% end %>
            </div> 
          </span>
        </td>
        <td>
          <span style="float:left; margin:10px">
	    <form class="form-inline">
	      <div class="form-group">
		<label class="sr-only">Category</label>
		<p class="form-control-static">Category: </p>
	      </div>
	      <div class="form-group">
		<%= select_tag "Category", options_for_select(Device::CATEGORIES, params[:category]),
		    {
		    :include_blank => true,
                :onchange => "searchSelectChanged()",
	        :class => "form-control",
                }
		%>
	      </div>
	    </form>
          </span>
        </td>
      </tr> 
    </table>
    <br>  

    <div class="row">
      <% count = 0 %>
      <div>
      <% @devices.each do |device| %>
        <% if count % 3 == 0 %>
          </div><div class="row">
	<% end %>
        <% count += 1 %>	
        <div class="col-sm-6 col-md-4">
        <%= render :partial => "devices/device_card", :locals => { :device => device }%> 
        </div>
      <% end %>
      </div>
    </div>
  </div> <!-- panel -->
</div> <!-- panel-heading -->

