
<% device = Device.find(local_assigns[:id]) %>

      <table class="table table-hover">
         <tbody>
            <tr>
               <td class="col-md-1">Name </td><td><%=device.name%> </td>
            </tr> 
            <tr>
               <td class="col-md-1">Summary </td><td><%=device.summary%> </td>
            </tr>
            <tr>
               <td class="col-md-1">Description </td><td><%=device.description%> </td>
            </tr>
            <tr>
                <td class="col-md-1">Website</td><td><%=device.website%></td>
            </tr>
            <tr>
                <td class="col-md-1">Category</td><td><%=device.category%> </td>
            </tr>
            <tr>
                <td class="col-md-1">Contact Name</td><td><%=device.contact_name%> </td>
            </tr>
            <tr>
                <td class="col-md-1">Contact Email</td><td><%=device.contact_email%> </td>
            </tr>
	    
         </tbody>
      </table>
