


<div class="container">
   <div class="panel panel-default">
      <div class="panel-heading"> <h4>Device: <%=@device.name%></h4>
        <span class="btn-group-sm" role="group" aria-label="...">
	  <%= link_to "Back", :back, class: "btn btn-success" %>
         </span> <!-- btn-group-sm -->


      </div> <!-- panel-heading -->

      <table class="table table-hover">

         <tbody>
            <tr>
              <div class="mermaid" id="graphDiv">
              </div>
            </tr>
            <tr>
               <td class="col-md-1">Name </td><td><b><%=@device.name%></b> </td>
            </tr>
            <tr>
               <td class="col-md-1">Vendor: </td><td><b><%=@device.vendor.name%></b> : <%=@device.vendor.description%></td>
            </tr>
            <tr>
	      <td class="col-md-1">Vendor Website: </td> <td> <%= link_to  @device.vendor.website, @device.vendor.website, :target => "_blank" %></td>
            </tr>
            <tr>
	      <td class="col-md-1">Vendor LinkedIn Page: </td> <td> <%= link_to  @device.vendor.linkedin, @device.vendor.linkedin, :target => "_blank" %></td>	      
            </tr>
            <tr>
               <td class="col-md-1">Category </td><td><%=@device.category%> </td>
            </tr>
            <tr>
               <td class="col-md-1">Description </td><td><%=@device.description%> </td>
            </tr>
            <tr>
               <td class="col-md-1">Summary </td><td><%=@device.summary%> </td>
            </tr>
            <tr>
	      <td class="col-md-1">Device Website: </td> <td> <%= link_to @device.website, @device.website, :target => "_blank" %></td>	      
            </tr>
            <tr>
               <td class="col-md-1">Contact </td><td><%=@device.contact_name %> : <%= mail_to @device.contact_email %></td>
            </tr>
         </tbody>
      </table>
   </div> <!-- panel -->
</div> <!-- container -->

<fieldset class="container">
  <legend> <b><%=@device.name%></b> has <%=pluralize(@device.ct_refs.length, "Clinical Trial Reference")%></legend>
  <% @ct_refs = @device.ct_refs %>
  <% @ct_refs.each do |ct_ref| %>
    <div class="col-sm-6 col-md-6">
      <%= render :partial => "ct_refs/ct_ref_card", :locals => { :ct_ref => ct_ref }%> 
    </div>
  <% end %>
</fieldset>


<fieldset class="container">
  <legend> <b><%=@device.name%></b> has <%=pluralize(@device.client_refs.length, "Client Reference")%></legend>
  <% @client_refs = @device.client_refs %>
  <% @client_refs.each do |client_ref| %>
    <div class="col-sm-6 col-md-6">
      <%= render :partial => "client_refs/client_ref_card", :locals => { :client_ref => client_ref }%> 
    </div>
  <% end %>
</fieldset>

