       <div class="thumbnail">
         <!-- img src="..." alt="..." -->
         <div class="caption">
           <h3><%=ct_ref.name%></h3>
	   <%= link_to("ClinicalTrials.gov website", "https://clinicaltrials.gov/ct2/show/" + ct_ref.clinicaltrialgov_id, :target => "_blank") unless ct_ref.clinicaltrialgov_id.blank?  %>
	   <h5> Summary </h5>
           <p><%=ct_ref.summary.truncate(200)%></p>
	   <h5> Description</h5>	   
           <p><%=ct_ref.description.truncate(400)%></p>
           <p><a href="<%=  %>" class="btn btn-primary" role="button">Find out more</a> 
         </div>
       </div>

