<% # Available: @form_path, @vendor, @return_to, @category_dropdown %>

<% ct_ref = CtRef.find(local_assigns[:id]) %>
<% if ct_ref.is_this_mine?(current_user) %>

  <%= simple_form_for(ct_ref, :url => @form_path, :html => {:return_to => @return_to || ""}) do |f| %>
     <%= f.error_notification %>
     <% if ct_ref.errors.any? %>
     <ul>
        <% ct_ref.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
        <% end %>
     </ul>
     <% end %>

    <div class="form-inputs">
    <!-- form helpers: http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-url_field --> 

      <%= hidden_field_tag :ct_ref_id, local_assigns[:id] %>    
      <%= hidden_field_tag :function, "ct_ref_edit" %>
      <%= hidden_field_tag :return_to, @return_to || "" %>
   
      <div class="form-group">
        <%= f.label :name %>
        <%= "What is the name of the Trial?"  %>
         <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :summary %>
        <%= "Please summarize the trial in one line."  %>
        <%= f.text_field :summary, :autofocus => false, class: 'form-control ' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= "You can provide more detail here."  %>
        <%= f.text_area :description, :autofocus => false, class: 'form-control ' %>
      </div>
   
      <div class="form-group">
        <%= f.label :clinicaltrialgov_id, 'ClinicalTrials.gov ID' %>
        <%= "Is there a ClinicalTrials.gov number?"  %>
        <%= f.text_field :clinicaltrialgov_id, :autofocus => false, class: 'form-control ' %>
      </div>

      <div class="form-group">
        <%= f.label :eudract_id, 'EudraCT ID' %>
        <%= "Is there an EudraCT number?"  %>
        <%= f.text_field :eudract_id, :autofocus => false, class: 'form-control ' %>
      </div>

      <div class="form-group">
        <%= f.label :condition, 'Condition' %>
        <%= "What is/are the targetted condition(s)?"  %>
        <%= f.text_field :condition, :autofocus => false, class: 'form-control ' %>
      </div>
   
      <div class="form-group">
        <%= f.label :sponsor_name, 'Sponsor' %>
        <%= "What is the name of the Sponsor?"  %>
        <%= f.text_field :sponsor_name, :autofocus => false, class: 'form-control ' %>
      </div>

      <div class="form-group">
        <%= f.label :endpoint, 'Endpoint' %>
        <%= "Summarize the the primary Outcomes/Endpoints"  %>
        <%= f.text_field :endpoint, :autofocus => false, class: 'form-control ' %>
      </div>
   
    </div>   

    <div class="form-actions">
      <span class="btn-group-sm" role="group" aria-label="...">
        <%= f.button :submit, class: 'btn btn-info', :value => "Update" %>
      </span>
    </div>
  <% end %>
<% end %>
