
<% ct_ref = CtRef.find(local_assigns[:id]) %>

      <table class="table table-hover">

         <tbody>
            <tr>
               <td class="col-md-1">Name </td><td><%=ct_ref.name%> </td>
            </tr> 
            <tr>
               <td class="col-md-1">Summary </td><td><%=ct_ref.summary%> </td>
            </tr>
            <tr>
               <td class="col-md-1">Description </td><td><%=ct_ref.description%> </td>
            </tr>
            <tr>
                <td class="col-md-1">ClinicalTrials.gov ID</td><td><%=ct_ref.clinicaltrialgov_id%></td>
            </tr>
            <tr>
                <td class="col-md-1">EudraCT ID</td><td><%=ct_ref.eudract_id%> </td>
            </tr>
            <tr>
                <td class="col-md-1">Condition</td><td><%=ct_ref.condition%> </td>
            </tr>
            <tr>
                <td class="col-md-1">Endpoint</td><td><%=ct_ref.endpoint%> </td>
            </tr>
	    
         </tbody>
      </table>


