<p id="notice"><%= notice %></p>

<h1>Listing Ct Refs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ct_refs.each do |ct_ref| %>
      <tr>
        <td><%= link_to 'Show', ct_ref %></td>
        <td><%= link_to 'Edit', edit_ct_ref_path(ct_ref) %></td>
        <td><%= link_to 'Destroy', ct_ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ct ref', new_ct_ref_path %>
