<%= form_for(@marketing_ref) do |f| %>
  <% if @marketing_ref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marketing_ref.errors.count, "error") %> prohibited this marketing_ref from being saved:</h2>

      <ul>
      <% @marketing_ref.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
