<p id="notice"><%= notice %></p>

<h1>Listing Marketing Refs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marketing_refs.each do |marketing_ref| %>
      <tr>
        <td><%= link_to 'Show', marketing_ref %></td>
        <td><%= link_to 'Edit', edit_marketing_ref_path(marketing_ref) %></td>
        <td><%= link_to 'Destroy', marketing_ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marketing ref', new_marketing_ref_path %>
