<% content_for :title do %>About<% end %>
<h3>About the Device Registry</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum odio, pellentesque non tristique tempus, luctus in erat. Mauris in pulvinar nisi. Praesent sit amet tristique sem. Nullam pulvinar, metus at tempus consequat, felis mauris finibus nisl, vel semper purus ex non nibh. Ut quis lectus non turpis iaculis scelerisque a sit amet eros. Morbi malesuada nibh dui, quis dictum metus blandit ut. Vivamus elementum, mauris id tristique commodo, nibh nisi pharetra quam, scelerisque ullamcorper risus ipsum id risus. Fusce at varius mauris. Nulla facilisi. Morbi convallis magna ante, et tempus sem facilisis vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sagittis auctor ipsum ut suscipit. Ut rutrum, augue eu convallis egestas, lorem massa sodales sapien, eget molestie dui magna ut neque. Vestibulum suscipit at nisi auctor maximus.</p>
<p>
  Cras malesuada erat vel velit molestie tincidunt. Nam quis placerat urna. Duis porta est at sapien consectetur luctus. Duis tincidunt ante quis dictum lacinia. Aliquam viverra hendrerit mauris at posuere. Suspendisse sit amet pellentesque libero, non feugiat erat. Nullam et nibh ac libero volutpat sollicitudin. Vestibulum malesuada semper augue, eu molestie tellus tempor tempor. Etiam hendrerit nunc ut vulputate lacinia. Sed ultricies mi sed tortor scelerisque, hendrerit hendrerit justo dignissim. Aenean tempor suscipit magna eget lacinia. Suspendisse rutrum lorem ut molestie vulputate. Nunc euismod, libero sit amet tempus ornare, ipsum orci tempor nulla, nec finibus lorem nunc at diam. Praesent aliquam vestibulum nunc vitae consectetur. Vestibulum hendrerit venenatis nunc.</p>
<p>
Nunc at interdum turpis. Integer tincidunt iaculis enim, quis suscipit nisl semper vel. Phasellus blandit metus id risus vulputate, a pellentesque ipsum vestibulum. Phasellus volutpat vestibulum mauris, ac eleifend justo semper vel. Fusce id bibendum magna. Morbi molestie facilisis sem, ac ultricies ligula cursus eu. Vestibulum quis justo congue, vestibulum erat non, placerat risus.</p>
<p>
Donec quis purus vulputate, accumsan justo a, ullamcorper urna. Praesent dapibus dui quis libero aliquam, et lacinia dolor mollis. Nullam augue arcu, feugiat quis justo vitae, vehicula iaculis neque. Proin pellentesque arcu id velit aliquet faucibus. Vestibulum eget tincidunt metus. Duis pellentesque velit non nunc ultrices, vitae varius erat commodo. Nulla ac lorem maximus, scelerisque eros vitae, bibendum sapien. Suspendisse nec elit eget lorem ultrices sodales sit amet at urna. Maecenas porttitor efficitur leo, vel pharetra ligula dapibus bibendum. Sed fringilla nibh non ipsum fringilla efficitur ac non nibh. Donec ut vestibulum dolor. Aenean nec quam convallis, auctor nibh vel, porttitor tellus. Etiam eu mi convallis, iaculis sapien sed, ultrices felis. Nullam pellentesque, metus in bibendum scelerisque, velit ligula malesuada ex, vitae hendrerit nibh enim ut justo. Nam vel semper urna. Morbi enim quam, efficitur a magna id, congue mollis ante.
</p>
