       <div class="thumbnail">
         <!-- img src="..." alt="..." -->
         <div class="caption">
           <h3><%=client_ref.name%></h3>
       	   <%= link_to(client_ref.website, client_ref.website, :target => "_blank") %>
	   <h5> Summary </h5>
           <p><%=client_ref.summary.truncate(200)%></p>
	   <h5> Description</h5>	   
           <p><%=client_ref.description.truncate(400)%></p>
           <p><a href="<%=  %>" class="btn btn-primary" role="button">Find out more</a> 
         </div>
       </div>
