<% # Available: local_assigns[:function], local_assigns[:message], local_assigns[:button_text], local_assigns[:client_ref], @form_path, @vendor, @return_to, @category_dropdown %>

<% client_ref = ClientRef.find(local_assigns[:id]) %>

  <%= simple_form_for(client_ref, :url => @form_path, :html => {:return_to => @return_to || "", :class => "form-inline"}) do |f| %>

     <%= f.error_notification %>
     <% if client_ref.errors.any? %>
     <ul>
        <% client_ref.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
        <% end %>
     </ul>
     <% end %>

    <div class="form-inputs">
    <!-- form helpers: http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-url_field --> 

      <%= hidden_field_tag :client_ref_id, local_assigns[:id] %>    
      <%= hidden_field_tag :function, local_assigns[:function] %>
      <%= hidden_field_tag :return_to, @return_to || "" %>
   
      <label><%= local_assigns[:message] %></label>
      <input class="form-control" id="yes" name="confirm_string">
      
      <div class="form-actions">
        <span class="btn-group-sm" role="group" aria-label="...">
          <%= f.button :submit, class: 'btn btn-danger', :value => local_assigns[:button_text] %>
        </span>
      </div>
    </div>
    
  <% end %>
