<%= form_for(@client_ref) do |f| %>
  <% if @client_ref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_ref.errors.count, "error") %> prohibited this client_ref from being saved:</h2>

      <ul>
      <% @client_ref.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
