<% # Available: @form_path, @vendor, @return_to %>

<% @client_ref = ClientRef.new %>
<% @client_ref.permitted  = false %>

<%= simple_form_for(@client_ref, :url => @form_path, :html => {:return_to => @return_to || ""}) do |f| %>
   <%= f.error_notification %>
   <% if @client_ref.errors.any? %>
   <ul>
      <% @client_ref.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
      <% end %>
   </ul>
   <% end %>

<div class="form-inputs">
   <!-- form helpers: http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-url_field --> 

   <%= hidden_field_tag :device_id, local_assigns[:device_id] %>
   <%= hidden_field_tag :function, "client_ref_new" %>
   <%= hidden_field_tag :return_to, @return_to || "" %>
  
   <div class="form-group">
     <%= f.label :name %>
     <%= "What is the name of the Client?"  %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
   </div>

   <div class="form-group">
     <%= f.label :division %>
     <%= "Is there a relevent Client Division/Business Unit/Group?"  %>
      <%= f.text_field :division, :autofocus => false, class: 'form-control' %>
   </div>
   
   
   <div class="form-group">
     <%= f.label :website %>
     <%= "Provide the most relevent website."  %>
      <%= f.text_field :website, :autofocus => false, class: 'form-control ' %>
   </div>

   <div class="form-group">
     <%= f.label :summary %>
     <%= "Summarise their use of the Device/Service in one line."  %>
      <%= f.text_field :description, :autofocus => false, class: 'form-control ' %>
   </div>
   
   <div class="form-group">
     <%= f.label :description %>
     <%= "You can provide more detail here."  %>
      <%= f.text_area :description, :autofocus => false, class: 'form-control ' %>
   </div>

   <div class="form-group">
     <%= f.label :contact_name %>
     <%= "If permitted, provide a Client reference name."  %>
      <%= f.text_field :contact_name, :autofocus => false, class: 'form-control ' %>
   </div>

   <div class="form-group">
     <%= f.label :contact_email %>
     <%= "If permitted, what is the reference's email?"  %>
      <%= f.text_field :contact_email, :autofocus => false, class: 'form-control ' %>
   </div>
   
   <div class="form-group">
     <%= f.label :permitted %>
     <%= "Confirm that you are permitted to by your client to share this information."  %>
      <%= f.check_box :permitted, :autofocus => false, class: 'form-control ' %>
   </div>
   
</div>   

<div class="form-actions">
   <span class="btn-group-sm" role="group" aria-label="...">
      <%= f.button :submit, class: 'btn btn-info', :value => "New Client Reference" %>
   </span>
</div>
<% end %>
