
<% client_ref = ClientRef.find(local_assigns[:id]) %>

      <table class="table table-hover">

         <tbody>
            <tr>
               <td class="col-md-1">Name </td><td><%=client_ref.name%> </td>
            </tr> 
            <tr>
               <td class="col-md-1">Division </td><td><%=client_ref.division%> </td>
            </tr>
            <tr>
               <td class="col-md-1">Website </td><td><%=client_ref.website%> </td>
            </tr>
            <tr>
                <td class="col-md-1">Summary</td><td><%=client_ref.summary%></td>
            </tr>
            <tr>
                <td class="col-md-1">Description</td><td><%=client_ref.description%> </td>
            </tr>
            <tr>
                <td class="col-md-1">Contact Name</td><td><%=client_ref.contact_name%> </td>
            </tr>
            <tr>
                <td class="col-md-1">Contact Email</td><td><%=client_ref.contact_email%> </td>
            </tr>
            <tr>
                <td class="col-md-1">Permitted</td><td><%="Yes" if client_ref.permitted %><%="No" unless client_ref.permitted %> </td>
            </tr>
	    
         </tbody>
      </table>
