<p id="notice"><%= notice %></p>

<h1>Listing Client Refs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_refs.each do |client_ref| %>
      <tr>
        <td><%= link_to 'Show', client_ref %></td>
        <td><%= link_to 'Edit', edit_client_ref_path(client_ref) %></td>
        <td><%= link_to 'Destroy', client_ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client ref', new_client_ref_path %>
