<p id="notice"><%= notice %></p>

<h1>Listing Peer Review Refs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peer_review_refs.each do |peer_review_ref| %>
      <tr>
        <td><%= link_to 'Show', peer_review_ref %></td>
        <td><%= link_to 'Edit', edit_peer_review_ref_path(peer_review_ref) %></td>
        <td><%= link_to 'Destroy', peer_review_ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peer review ref', new_peer_review_ref_path %>
