<script>
  var insertRegPanel = function() 
  { 
     $("#registration_placeholder").html("<%= escape_javascript("#{render :partial => 'visitors/registration_panel'}").html_safe %>");
  };
</script>


<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<% if current_user != nil %>
   <% if current_user.role == "visitor" %>
      <li><a class="btn" onclick="insertRegPanel()" >Register as Vendor</a></li>
   <% end %>
<% end %>
